@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border-[1px] border-primary-green-medium p-3 rounded-lg focus:ring-2 focus:ring-primary-green-medium focus:outline-none;
  }
  .input-error {
    @apply border-[1px] border-red-600 p-3 rounded-lg focus:ring-2 focus:ring-red-600 focus:outline-none;
  }
}
